html, body {
    font-family: "alpha_echoregular", sans-serif;
}
#game-canvas {
    background-image: url(../images/bg.jpg);
    display: block;
}
#game {
    width: 480px;
    height: 320px;
    border: 1px solid black;
    margin:auto;
    position: relative;
    overflow: hidden;
}
#hud {
    position: absolute;
    top: 0;
    left: 0;
    color: #ac1000;
    background: #efefef;
    padding: 10px;

}

#gameover {
    position: absolute;
    top: -320px;
    left: 0;
    width: 480px;
    height: 270px;
    background: white;
    padding-top: 50px;
    text-align: center;
    font-size: 2em;
    background: white url(../images/gameover.png);
}

#gameover.gameover-appear {
    top: 0;
    -webkit-transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    transition: top .3s ease-out;
}

#restart-button {
    display: block;
    margin: 160px auto 0 auto;
    background: url(../images/restart.png) no-repeat;
    width: 50px;
    height: 80px;
}

#restart-button:active {
    background-position: 0 -67px;
}